@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}

/* shared style */
.hide{
    display: none;
}
.bg{
    background-image: url(assets/bg.png);
}
.mwidth{
    width: 80.5%;
    margin: 0 auto;
}
.other{
    width: 100%;    
}
.c-orange{
    color: rgb(254, 163, 1);
    font-weight: 700;
}
.bg-orange{
    background-color: rgb(254, 163, 1);
}
.btn-primary{
    padding: 0.7rem 3.8rem;
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    border-radius: 12px;
    border: none;
    background-color:blueviolet;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.btn-primary:hover{
    background-color: #4e49e3;
    box-shadow: 0 10px 15px 2px rgba(37, 5, 118, 0.708);
    transform: translateY(-3.5px);
}
.shared-title{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
.shared-description{
    font-size: 1rem;
    font-weight: 500;
    color: #808080;
    line-height: 2rem;
}


/* nav style */
marquee{
    color: rgb(255, 149, 0);
    font-size: 2rem;
    font-weight: 800;
    padding: 1rem 0;
}
.mar-colour{
    color: rgb(1, 172, 253);

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo p{
    font-size: 2rem;
    font-weight: 700;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 2rem;
}
nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
    font-weight: 700;
    font-size: 1.25rem;
}
#home{
    color: rgb(254, 163, 1);
}
#about{
    color: rgb(1, 172, 253);
}
#facilities{
    color: rgb(5, 212, 223);
}
#admission{
    color: rgb(93, 88, 239);
}
.nav-btn{
    padding: 0.7rem 3.8rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    border-radius: 0.75rem; 
    cursor: pointer;
    border: none;
}
.menubar{
    display: none;
}

/* main style */

/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}
.sec-description{
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}
.sec-info{
    width: 50%;
}
.sec-title{
    text-align: top;
    line-height: 140%;
    font-size: 2.9rem;
    font-weight: bold;
    padding-bottom: 0;
    margin: 7.625rem 0 1.5rem 0;
}
.banner img{
    width: 100%;
} 

/* standard curriculum style */
.standard{
    padding-top: 4.5rem;
}
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    gap: 1.8rem;
}
.card{
    text-align: center;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    border-radius: 1.2rem;
    padding: 3.25rem 2.5rem;
    margin-bottom: 5rem;
}
.kinder{
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    border: 0.94px solid rgb(222, 245, 255);
}
.elementary{
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    border: 0.94px solid rgb(255, 244, 220);
}
.middle{
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    border: 0.94px solid rgb(242, 232, 255);
}
.card-name{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2rem 0;
}
.card-btn{
    margin: 2rem 0 0;
    padding: 0.8rem 1.8rem;
    border-radius: 0.5rem;
    background-color: white;
    border: none;
    font-weight: 700;
    font-size: 1.1rem;
    cursor: pointer;
}
.kinder .card-btn{
    color: #64C8FF;
    transition: all .3s ease-in-out;
}
.kinder .card-btn:hover{
    background-color: #64C8FF;
    color: white;
    box-shadow: 0 10px 15px 2px rgba(108, 208, 247, 0.708);
    transform: translateY(-3.5px);
}
.elementary .card-btn{
    color: rgb(254, 163, 1);
    transition: all .3s ease-in-out;
}
.elementary .card-btn:hover{
    background-color: rgb(254, 163, 1);
    color: white;
    box-shadow: 0 10px 15px 2px rgba(254, 163, 1, 0.708);
    transform: translateY(-3.5px);
}
.middle .card-btn{
    color: rgb(93, 88, 239);
    transition: all .3s ease-in-out;
}
.middle .card-btn:hover{
    background-color: rgb(93, 88, 239);
    color: white;
    box-shadow: 0 10px 15px 2px rgba(93, 88, 239, 0.708);
    transform: translateY(-3.5px);
}
.slide{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 3.75rem;
}
.slide button{
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50%;
    background-color: rgb(254, 163, 1);
    color: white;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.slide button:hover{
    box-shadow: 0 10px 15px 2px rgba(254, 163, 1, 0.708);
    transform: translateY(-3.5px);
}

/* stories style */
.story-section{
    background: linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    background-size: cover;
    margin-top: 7.5rem;
    padding-bottom: 3.75rem;
}
.stories{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;
    margin: 5rem auto;
}
.toddler{
    grid-row:span 2;
    grid-column: span 2;
}
.story{
    position: relative;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background-color: whitesmoke;
    border-radius: 1rem;
}
.story-img img{
    border-radius: 1rem 1rem 0 0;
    width: 100%;
}
.story-info{ 
    padding: 0 2.5rem 2.2rem 2.5rem;
}
.toddler .story-info{
    padding: 0 2.1rem 2rem;
}
.date{
    border-radius: 3rem;
    padding: 0.8rem 1rem;
    position: relative;
    top: -9%;
    left: 13%;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}
.toddler .date{
    top: -4.5%;
    left: 13%;
    background-color: #3CD8E8; 
}
.d2{
    background-color: #95B226;
}
.d3{
    background-color: #5D58F0;
}
.d4{
    background-color: darkmagenta;
}
.d5{
    background-color: rgb(54, 116, 54);
}
#view{
    text-align: center;
}

/* footer style */
footer{
    border: 1px solid rgb(87, 160, 189);
    background-color: rgb(87, 160, 189);
}
.footer{
    display: flex;
    margin: 7.75rem auto;
    justify-content: space-between;
    gap: 9rem;
    color: white;
}
.edu{
    width: 33%;
}
.flogo{
    display: flex;
    margin-bottom: 2.24rem;
}
.fnav a{
    text-decoration: none;
    color: white;
}
.fnav li{
    list-style: none;
    margin-bottom: 0.4rem;
}
.fnav h2,.fsocial h2{
    margin-bottom: 1.8rem;
}
.fsocial img{
    cursor: pointer;
}



@media screen and (max-width: 576px) {
    /* header style */
    .mwidth{
        width: 92%;
    }
    marquee{
        font-size: 1.25rem;
        padding: 0.5rem;
    }
    nav{
        padding: .8rem 0;
    }
    .logo p, 
    nav a,
    .nav-btn,.slide{
        display: none;
    }
    .menubar{
        display: block;
    }
    .menubar i{
        font-size: 2rem;
        cursor: pointer;
    }

    /* main style */
    main{
        padding: .8rem 0 0;
        border-top: 2px solid rgb(254, 163, 1);
    }

    /* banner style */
    .banner{
        flex-direction: column-reverse;
        gap: 1rem;
    }
    .sec-info{
        text-align: center;
        width: 100%;
    }
    .sec-title{
        margin: 1.5rem auto;
        font-size: 2rem;
    }

    /* curriculum styles */
    .cards{
        flex-direction: column;
    }
    
    /* stories style */
    .toddler{
        display: none;
    }
    .stories{
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        gap: 0.5rem;
        row-gap: 20px;
        width: 92%;
    }
    .hide{
        display: block;
    }
    .story{
        width: 100%;
    }
    .story-info{
        padding: 0 3px 22px 10px;
        font-size: 14px;
    }
    .date{
        font-size: 13px;
        top: -10.6%;
    }

    /* footer style */
    .footer{
        flex-direction: column;
        margin-top: 4.5rem;
        margin-bottom: 4.5rem;
        gap: 3rem;
    }
    .edu{
        width: 100%;
    }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
    /* nav style */
    .mwidth{
        width: 92%;
    }
    nav a,
    .nav-btn{
        display: none;
    }
    .nav-btn{
        padding: 0.7rem 4rem;
    }
    .menubar{
        display: block;
    }
    .menubar i{
        font-size: 1.8rem;
        cursor: pointer;
    }

    /* main style */
    main{
        margin: 0.8rem 0 0;
        border-top: 2px solid rgb(254, 163, 1);
    }
    
    /* banner style */
    .banner{
        gap: 1.5rem;
    }
    .sec-title{
        font-size: 1.9rem;
    }
    .sec-description{
        font-size: 1.1rem;
    }
    .banner-pic{
        width: 50%;
    }
    .banner-pic img{
        width: 100%;
    }

    /* curriculum styles */
    .cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .card{
        margin-bottom: 2rem;
    }
    .middle{
        grid-column: span 2;
        margin: 0 10.5rem;
    }
    .slide{
        margin-top: 2rem;
    }

    /* story style */
    .toddler{
        display: none;
    }
    .stories{
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        gap: 0.5rem;
        row-gap: 20px;
        width: 92%;
    }
    .hide{
        display: block;
    }
    .story{
        width: 100%;
    }
    .story-info{
        padding: 0 3px 22px 10px;
    }
    .date{
        top: -8%;
    }

    /* footer style */
    .social{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 0.8rem;
    }
}